# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.loader.mjs
/coverage
# /build

# Local Environment Variables
.env
.env*.local
*.env

# Next.js
/.next/
/out/

# Python
/.venv/
__pycache__/
*.py[cod]
*$py.class

# Misc
.DS_Store
*.pem

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
